<h1><%= @movie.title %></h1>
<p><b>Creation Year:&nbsp;</b><%= @movie.creation_year %></p>
<p><b>Genre:&nbsp;</b><%= @movie.genre %></p>
<p><b>Actors:&nbsp;</b>
  <% @actors.each.with_index do |actor, index| %>
    <% if (index + 1) == @actors.count %>
      <%= actor.name %>
    <% else %>
      <%= actor.name %>,&nbsp;
    <% end %>
  <% end %>
</p>
